@charset "UTF-8";
div{
   box-sizing: border-box;
}
#wrapper{
    width: 1500px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom:50px;
}

/*내용 영역 스타일*/
section{
    background-color: white;
    width: 1270px;
    height: auto;
    min-height:700px;
    margin-bottom: 50px;
    margin-left: 30px;
    display: block;
    float: right;
    padding-top: 23px;
}
section::after{display:block;content:"";clear:both;}
#pageName{
    color: rgb(15, 43, 80);
    font-size: 22px;
    font-weight: 900;
    width: auto;
    margin-top: 12px;
    margin-bottom: 10px;
    float:left;
}
#app-header{
    margin-left: 50px;
}
.pageName{padding:3px;}
.pageName>p{
	margin:0px;
	float:left;
}

#availableTime{
	width:140px;
	background:rgb(26, 86, 162);
	color:white;
	height:25px;
	margin-top:40px;
	margin-left:-140px;
	margin-right:20px;
	font-size:14px;
}
#tools{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 1175px;
    height: 30px;
}
#tools>button{
    background-color: white;
    border: gray 1px solid;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 1px;
    height: 25px;
}

#list{
    width: 1180px;
    margin-left: 50px;
    border-top:darkgray 2px solid;
    border-bottom:darkgray 2px solid;
    text-align:center ;
    font-size:15px;
}
#list td{
    cursor: pointer;
}
.pending{
	color:green;
}
.completed{
	color:navy;
}
.rejected{
	color:red;
}
.accepted{
	color:blue;	
}

/*페이징바*/
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-link{
    color:RGB(26,86,162)!important;
    border: none!important;
    border-radius: 200px!important;
}
.page-item.active .page-link {
    color: #fff !important;
    background: RGB(26,86,162)!important;
}

/*모달*/
.modal-backdrop{
 background-color: rgba(0,0,0,.0001) !important;
}

  #timeSet-btn{
    color: white;
    background-color: rgb(26, 86, 162);
}
#timeSetClose-btn{
    border: 1px solid gray;
    color: gray;
    margin-bottom: 10px;
    float:left;
}
#timeSet-btnArea{
	margin-left:25px;
	margin-bottom:10px;
}
#timeSet-btnArea>*{
	width: 120px;
    font-weight: bolder;
    margin-left:5px;
}
.md-box p{
    font-size: 14px;
	color: rgb(26, 86, 162);
    font-weight: 700;
    margin-bottom:10px;
    margin-left:20px;
}
.md-box label{
	margin-right:5px;
	margin-bottom:20px;
	font-weight:300!important;
}