@charset "UTF-8";
div{
   box-sizing: border-box;
}
#wrapper{
    width: 1500px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom:50px;
}

/*내용 영역 스타일*/
section{
    background-color: white;
    width: 1270px;
    height: auto;
    min-height:700px;
    margin-bottom: 50px;
    margin-left: 30px;
    display: block;
    float: right;
    padding-top: 23px;
}
section::after{display:block;content:"";clear:both;}
#pageName{
   color: rgb(15, 43, 80);
   font-size: 22px;
   font-weight: 900;
   width: auto;
   margin-top: 12px;
   margin-bottom: 10px;
}
#app-header{
    margin-left: 50px;
}
.pageName{padding:3px;}
.pageName>p{
	margin:0px;
	float:left;
}
#content-area{
	margin-left:50px;
	margin-bottom:50px;
	height:auto;
}	
.title{
	background-color: rgb(26, 86, 162);
	color:white;
	font-weight:600;
	width:100px;
	height:24px;
	font-size:14px!important;
}
.contents{
	margin-left:20px;
}
#content{
	width:1000px;
	height:auto;
	display:block;
	margin-left:102px;
}
#input-content{
	margin-top:-20px;
	margin-left:125px;
	width:900px;
	height:400px;
	resize:none;
	padding:4px;
}
#btn-area{
	width:1110px;
	margin-top:30px;
	margin-bottom:60px;
}
#btn-area>button{
	border:none;
	border-radius:3px;
	height:30px;
}
#goToList{
	background-color:gray;
	color:white;
	font-weight:600;
}
#submit-btn{
	background-color: rgb(26, 86, 162);
	color:white;
	font-weight:600;
}
#warn{
	font-weight:900;
	color: rgb(26, 86, 162);
	font-size: 12px;
	margin-left:125px;
}