<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="academicMapper">
	
	<resultMap type="AcademicStatus" id="asResult">
		<result column="AS_NO" property="asNo" />
		<result column="STUD_NO" property="studNo" />
		<result column="AS_TYPE" property="asType" />
		<result column="AS_TYPET" property="asTypeT" />
		<result column="AS_DATE" property="asDate" />
		<result column="OFF_TYPE" property="offType" />
		<result column="OFF_TYPET" property="offTypeT" />
		<result column="REASON" property="reason" />
		<result column="REASONT" property="reasonT" />
		<result column="REASON_DETAIL" property="reasonDetail" />
		<result column="OFF_YEAR" property="offYear" />
		<result column="OFF_SEMESTER" property="offSemester" />
		<result column="OFFUNTIL_YEAR" property="offUntilYear" />
		<result column="OFFUNTIL_SEMESTER" property="offUntilSemester" />
		<result column="BACK_YEAR" property="backYear" />
		<result column="BACK_SEMESTER" property="backSemester" />
		<result column="PROGRESS" property="progress" />
		<result column="PROGRESST" property="progressT" />
		<result column="STATUS" property="status" />
		<result column="stud_name" property="studName" />
	</resultMap>
	
	<resultMap type="Attachment" id="attResult">
		<result column="attach_no" property="attachNo" />
		<result column="ref_no" property="refNo" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="path" property="path" />
	</resultMap>
	
	<resultMap id="usersResult" type="Users">
				<result column="user_no" property="userNo" />
				<result column="password" property="userPwd" />
				<result column="kor_name" property="korName" />
				<result column="eng_name" property="engName" />
				<result column="birthday" property="birthday" />
				<result column="gender" property="gender" />
				<result column="email" property="email" />
				<result column="phone" property="phone" />
				<result column="address" property="address" />
				<result column="nation" property="nation" />
				<result column="webmail" property="webMail" />
				<result column="user_div" property="userDiv" />
				<result column="profile_img" property="profileImg" />
				
				<!-- STUDENT -->
				<result column="stud_no" property="studNo" />
				<result column="sprof_no" property="sprofNo" />
				<result column="stud_univ" property="studUniv" />
				<result column="stud_department" property="studDepartment" />
				<result column="stud_major" property="studMajor" />
				<result column="stud_minor" property="studMinor" />
				<result column="stud_into" property="studInto" />
				<result column="stud_grad" property="studGrad" />
				<result column="stud_division" property="studDivision" />
				<result column="stud_status" property="studStatus" />
				<result column="stud_semester" property="studSemester" />
			</resultMap>

	<select id="selectStuInfo" resultType="string">
		select
		       kor_name
		  from student
		  join users on (prof_no = user_no)
		 where stud_no = #{userNo}
	</select>
	
	<insert id="applyAsOff">
		insert
		  into academic_status
		  (
		    as_no
		  , stud_no
		  , as_type
		  , off_type
		  , reason
		  , reason_detail
		  , off_year
		  , off_semester
		  , offuntil_year
		  , offuntil_semester
		  )
		  values
		  (
		    seq_acsno.nextval
		  , #{studNo}
		  , #{asType}
		  , #{offType}
		  , #{reason}
		  , #{reasonDetail}
		  , #{offYear}
		  , #{offSemester}
		  , #{offUntilYear}
		  , #{offUntilSemester}
		  )
	</insert>
	
	<insert id="applyAsBack">
		insert
		  into academic_status
		  (
		    as_no
		  , stud_no
		  , as_type
		  , back_year
		  , back_semester
		  )
		  values
		  (
		    seq_acsno.nextval
		  , #{studNo}
		  , #{asType}
		  , #{backYear}
		  , #{backSemester}
		  )
	</insert>
	
	<!-- 첨부파일 작성 -->
	<insert id="insertAttachment">
		insert
		  into attachment
		  (
		  	attach_no
		  , ref_type
		  , ref_no
		  , origin_name
		  , change_name
		  , path
		  )
		  values
		  (
		  	seq_attno.nextval
		  , 'A'
		  , seq_acsno.currval
		  , #{originName}
		  , #{changeName}
		  , #{path}
		  )
	</insert>
	
	<select id="selectAsList" resultMap="asResult">
		select
		       as_no
		     , decode(as_type, 1, '휴학', 2, '복학') "as_typeT"
		     , to_char(as_date, 'yyyy-mm-dd') "as_date"
		     , off_type
		     , reason
		     , reason_detail
		     , off_year
		     , off_semester
		     , offuntil_year
		     , offuntil_semester
		     , back_year
		     , back_semester
		     , decode(progress, 0, '접수', 1, '담당교수승인', 2, '학사지원과처리중', 3, '최종승인') "progressT"
		  from academic_status
		 where stud_no = #{userNo}
	</select>
	
	<select id="selectAs" resultMap="asResult">
		select
		       as_no
		     , decode(as_type, 1, '휴학', 2, '복학') "as_typeT"
		     , to_char(as_date, 'yyyy-mm-dd') "as_date"
		     , decode(off_type, 1, '일반휴학', 2, '군입대휴학', 3, '임신/출산휴학', 4, '육아휴학') "off_typeT"
		     , decode(reason, 1, '개인사정', 2, '군입대', 3, '기타') "reasonT"
		     , reason_detail
		     , off_year
		     , off_semester
		     , offuntil_year
		     , offuntil_semester
		     , back_year
		     , back_semester
		     , decode(progress, 0, '접수', 1, '담당교수승인', 2, '학사지원과처리중', 3, '최종승인', 4, '반려') "progressT"
		  from academic_status
		 where as_no = #{asNo}
	</select>
	
	<select id="selectAttachmentList" resultMap="attResult">
		select
		       attach_no
		     , ref_no
		     , origin_name
		     , change_name
		     , path
		  from attachment
		 where ref_type = 'A'
		   and ref_no = #{asNo}
		 order
		    by attach_no desc
	</select>
	
	<select id="selectProfAsListCount" resultType="_int">
		select
		       count(*)
		  from academic_status
		  join users on (user_no = stud_no)
          join student using (stud_no)
		 where prof_no = #{userNo}
		   and progress = 0    
	</select>
	
	<select id="selectProfAsList" resultMap="asResult">
		select
		       as_no
		     , as_type
		     , stud_no
		     , kor_name "stud_name"
		     , decode(as_type, 1, '휴학', 2, '복학') "as_typeT"
		     , to_char(as_date, 'yyyy-mm-dd') "as_date"
		     , decode(progress, 0, '접수', 1, '담당교수승인', 2, '학사지원과처리중', 3, '최종승인', 4, '반려') "progressT"
		  from academic_status
		  join users on (user_no = stud_no)
          join student using (stud_no)
		 where prof_no = #{userNo}
		   and progress = 0
		 order
		    by as_no
	</select>
	
	<select id="selectOffApply" resultMap="asResult">
		select
		       as_type
		     , decode(off_type, 1, '일반휴학', 2, '군입대휴학', 3, '임신/출산휴학', 4, '육아휴학') "off_typeT"
		     , decode(reason, 1, '개인사정', 2, '군입대', 3, '기타') "reasonT"
		     , reason_detail
		     , off_year
		     , off_semester
		  from academic_status
		 where as_type = 1
		   and stud_no = #{userNo}
		   and rownum = 1
	</select>
	
	<select id="selectStudInfo" resultMap="usersResult">
		select
		       user_no
		     , password
		     , kor_name
		     , eng_name
		     , birthday
		     , gender
		     , email
		     , phone
		     , address
		     , nation
		     , WEBMAIL
		     , user_div
		     , profile_img
		     , stud_no
		     , prof_no as "sprof_no"
		     , stud_univ
		     , stud_department
		     , stud_major
		     , stud_minor
		     , stud_into
		     , stud_grad
		     , stud_division
		     , stud_status
		     , total_semester as "stud_semester"
		  from users u
			   join student s on (user_no = stud_no)
		 where user_no = #{studNo}
</select>
</mapper>
