<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="appMapper">
	
	<resultMap type="Professor" id="pResult">
		<result column="prof_no" property="profNo" />
		<result column="prof_app_time" property="profAppTime" />
		<result column="prof_app_day" property="profAppDay" />
	</resultMap>

	<update id="updateAvailableTime">
		update
		       professor
		   set prof_app_day = #{profAppDay}
		     , prof_app_time = #{profAppTime}
		 where prof_no = #{profNo}
	</update>
	
	<select id="selectAvailableTime" resultMap="pResult">
		select 
			   prof_app_day
			 , prof_app_time
		  from professor
		 where prof_no = #{profNo}
	</select>
</mapper>
