<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">

	<resultMap id="boardResult" type="Board">
		<result column="board_no" property="boardNo" />
		<result column="user_no" property="user_no" />
		<result column="user_division" property="userDivision" />
		<result column="board_title" property="boardTitle" />
		<result column="board_content" property="boardContent" />
		<result column="bcount" property="boCount" />
		<result column="create_date" property="createDate" />
		<result column="notice_yn" property="noticeYN" />
		<result column="delete_yn" property="deleteYN" />
		<result column="bo_category" property="boCategory" />
		<result column="sub_category" property="subCategory" />
		<result column="board_writer" property="boardWriter" />
	</resultMap>
	
	
		<resultMap id="usersResult" type="Users">
				<result column="user_no" property="userNo" />
				<result column="kor_name" property="korName" />
			</resultMap>
	
  <select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from board
		 where delete_yn = 'N'
		 and bo_category = 4
	</select>
	
	<select id="selectList" parameterType="Board" resultMap="boardResult">
		select
             board_no
		     , sub_category
		     , board_title
		     , u.kor_name as "board_writer"
		     , to_char(create_date, 'YYYY.MM.DD') as "create_date"
		     , bCount
		  from board b 
		  join users u on (b.user_no = u.user_no)
		 where delete_yn = 'N'
		 and bo_category = 4
	</select>
	
	 <select id="selectSearchCount" resultType="_int">
		select 
		  count(*)
		  from board b
		  join users u on (b.user_no = u.user_no)
		 where delete_yn = 'N'
		 and bo_category = 4
		<if test="condition == 'writer'">
		   and u.kor_name like '%' || #{keyword} || '%'
		  </if>
		  <if test="condition == 'title'">
		  and board_title like '%' || #{keyword} || '%'
		  </if>
		  <if test="condition == 'content'">
		  and board_content like '%' || #{keyword} || '%'
		  </if>
		  
	</select>
	
	<select id="selectSearchList" parameterType="Board" resultMap="boardResult">
			select 
		      board_no
		     , sub_category
		     , board_title
		     , u.kor_name as "board_writer"
		     , to_char(create_date, 'YYYY.MM.DD') as "create_date"
		     , bCount
		  from board b
		  join users u on (b.user_no = u.user_no)
		 where delete_yn = 'N'
		 and bo_category = 4
		  <choose>
		 	<when test="condition == 'writer'">
		   and u.kor_name
		   </when>
		 	<when test="condition == 'title'">
		    and board_title
		   </when>
		   	<otherwise>
		   and board_content
		    </otherwise>
		    </choose>
		   	 like '%' || #{keyword} || '%'
	</select>
	
	
</mapper>
