<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="certMapper">

	<resultMap type="Certificate" id="certResult">
		<result column="cer_no" property="cerNo" />
		<result column="stud_no" property="studNo" />
		<result column="cer_typeT" property="cerTypeT" />
		<result column="cer_type" property="cerType" />
		<result column="usefor" property="useFor" />
		<result column="to_type" property="toTypeT" />
		<result column="to_whom" property="toWhom" />
		<result column="paid" property="paid" />
		<result column="status" property="status" />
		<result column="issue_date" property="issueDate" />
		<result column="stud_name" property="studName" />
		<result column="birthday" property="birthday" />
		<result column="department" property="department" />
		<result column="stud_into" property="studInto" />
		<result column="stud_grad" property="studGrad" />
		<result column="grade" property="grade" />
		<result column="eng_name" property="engName" />
	</resultMap>
	
	<insert id="applyCert">
		insert
		  into certificate
		  (
		  	cer_no
		  , stud_no
		  , cer_type
		  , usefor
		  , to_type
		  , to_whom
		  )
		  values
		  (
		  	seq_certno.nextval
		  , #{studNo}
		  , #{cerType}
		  , #{useFor}
		  , #{toType}
		  , #{toWhom}
		  )
	</insert>
	
	<select id="selectCertList" resultMap="certResult">
		select
		       cer_no
		     , stud_no
		     , decode(cer_type, 1, '(국)졸업증명서', 2, '(영)졸업증명서', 3, '(국)재학증명서', 4, '(영)재학증명서') "cer_typeT"
		     , decode(to_type, 1, '기업', 2, '기관', 3, '기타') "to_type"
		     , decode(usefor, 1, '취업 제출용', 2, '자격증 발급용', 3, '신분 확인용', 4, '기타 증명서류 제출용') "usefor"
		     , to_whom
		     , to_char(issue_date, 'yyyy-mm-dd') "issue_date"
		  from certificate
		 where stud_no = #{studNo}
		   and status = 'Y'
		   and paid = 'N'
	</select>
	
	<update id="deleteCert">
		update
		       certificate
		   set status = 'N'
		 where cer_no = #{cerNo} 
	</update>
	
	<update id="updatePayment">
		update
		       certificate
		   set paid = 'Y'
		     , issue_date = sysdate
		<where>
			<foreach item="item" index="index" collection="cerNoList" open="cer_no in (" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</update>
	
	<select id="selectPaidCertListCount" resultType="_int">
		select
		       count(*)
		  from certificate
		 where stud_no = #{studNo}
		   and status = 'Y'
		   and paid = 'Y'
	</select>
	
	<select id="selectPaidCertList" resultMap="certResult">
		select
		       cer_no
		     , stud_no
		     , cer_type
		     , decode(cer_type, 1, '(국)졸업증명서', 2, '(영)졸업증명서', 3, '(국)재학증명서', 4, '(영)재학증명서') "cer_typeT"
		     , to_char(issue_date, 'yyyy-mm-dd') "issue_date"
		  from certificate
		 where stud_no = #{studNo}
		   and status = 'Y'
		   and paid = 'Y'
	</select>
	
	<select id="selectCert" resultMap="certResult">
		select
		       cer_no
		     , cer_type
		     , decode(usefor, 1, '취업 제출용', 2, '자격증 발급용', 3, '신분 확인용', 4, '기타 증명서류 제출용') "usefor"
		     , decode(to_type, 1, '기업', 2, '기관', 3, '기타') "to_type"
		     , to_whom
		     , to_char(issue_date, 'yyyy-mm-dd') "issue_date"
		     , kor_name "stud_name"
		     , eng_name "eng_name"
		     , birthday
		     , stud_department || '/' || stud_major "department"
		     , stud_into
		     , stud_grad
		     , total_semester "grade"
		  from certificate c
		  join users on (user_no = stud_no)
		  join student s on (c.stud_no = s.stud_no)
		 where cer_no = #{cerNo}
	</select>
</mapper>
