<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mailMapper">
	
	<resultMap type="MailFrom" id="fromResult">
		<result column="mail_from_no" property="mailNo" />
		<result column="from_user" property="userNo" />
		<result column="from_add" property="address" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="send_date" property="sendDate" />
		<result column="to_me" property="toMe" />
		<result column="save_status" property="saveStatus" />
		<result column="to_user" property="userToNo" />
	</resultMap>
	
	<insert id="saveDraft">
		insert
		  into mail_from
		  (
		    mail_from_no
		  , from_user
		  , from_add
		  , to_user
		  , title
		  , content
		  , save_status
		  )
		  values
		  (
		    seq_mfno.nextval
		  , #{userNo}
		  , #{userNo} || '@unisystem.com'
		  , #{userToNo}
		  , #{title}
		  , #{content}
		  , 'Y'
		  )
	</insert>
	
	<select id="selectDraftListCount" resultType="_int">
		select
		       count(*)
		  from mail_from
		 where from_user = #{userNo}
		   and save_status = 'Y'
	</select>
	
	<select id="selectDraftList" resultMap="fromResult">
		select
			   mail_from_no
			 , to_user
			 , title
			 , content
			 , send_date
	      from mail_from
		 where from_user = #{userNo}
		   and save_status = 'Y'
		 order
		    by mail_from_no desc
	</select>
	
	<select id="selectDraft" resultMap="fromResult">
		select
			   mail_from_no
			 , to_user
			 , title
			 , content
		  from mail_from
		 where mail_from_no = #{mfNo}
		   and save_status = 'Y'
	</select>
	
	<update id="updateMailFrom">
		update
			   mail_from
		   set title = #{title}
		     , content = #{content}
		     , send_date = sysdate
		     , save_status = 'N'
		     , to_user = ' '
		 where mail_from_no = #{mailNo}
		   and from_user = #{userNo}
	</update>
	
	<insert id="insertMailFrom">
		insert
		  into mail_from
		  (
		    mail_from_no
		  , from_user
		  , from_add
		  , title
		  , content
		  )
		  values
		  (
		    seq_mfno.nextval
		  , #{userNo}
		  , #{userNo} || '@unisystem.com'
		  , #{title}
		  , #{content}
		  )
	</insert>
	
	<insert id="insertDraftMailTo">
		insert
		  into mail_to
		  (
		    mail_to_no
		  , mail_from_no
		  , to_user
		  , to_add
		  )
		  values
		  (
		    seq_mtno.nextval
		  , #{mailFromNo}
		  , #{userToNo}
		  , #{userToNo} || '@unisystem.com'
		  )
	</insert>
	
	<insert id="insertMailTo">
		insert
		  into mail_to
		  (
		    mail_to_no
		  , mail_from_no
		  , to_user
		  , to_add
		  )
		  values
		  (
		    seq_mtno.nextval
		  , seq_mfno.currval
		  , #{userToNo}
		  , #{userToNo} || '@unisystem.com'
		  )
	</insert>
	
	<insert id="insertDraftCcMailTo">
		insert
		  into mail_to
		  (
		    mail_to_no
		  , mail_from_no
		  , to
		  , to_add
		  , cc_status
		  )
		  values
		  (
		    seq_mtno.nextval
		  , #{mailFromNo}
		  , #{userToNo}
		  , #{userToNo} || '@unisystem.com'
		  , 'Y'
		  )
	</insert>
	
	<insert id="insertCcMailTo">
		insert
		  into mail_to
		  (
		    mail_to_no
		  , mail_from_no
		  , to
		  , to_add
		  , cc_status
		  )
		  values
		  (
		    seq_mtno.nextval
		  , seq_mfno.currval
		  , #{userToNo}
		  , #{userToNo} || '@unisystem.com'
		  , 'Y'
		  )
	</insert>
	
	<insert id="insertAttachment">
		insert
		  into attachment
		  (
		  	attach_no
		  , ref_type
		  , ref_no
		  , origin_name
		  , change_name
		  , path
		  )
		  values
		  (
		  	seq_attno.nextval
		  , 'M'
		  , seq_mfno.currval
		  , #{originName}
		  , #{changeName}
		  , #{path}
		  )
	</insert>
	
	<insert id="insertDraftAttachment">
		insert
		  into attachment
		  (
		  	attach_no
		  , ref_type
		  , ref_no
		  , origin_name
		  , change_name
		  , path
		  )
		  values
		  (
		  	seq_attno.nextval
		  , 'M'
		  , #{refNo}
		  , #{originName}
		  , #{changeName}
		  , #{path}
		  )
	</insert>
	
</mapper>
