<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="messageMapper">

  <resultMap id="messageResult" type="Message">
  	<result column="user_no" property="userNo" />
  	<result column="message_no" property="messageNo" />
  	<result column="msg_writer" property="msgWriter" />
  	<result column="msg_reader" property="msgReader" />
 	<result column="msg_content" property="msgContent" />
 	<result column="readyn" property="readYN" />
 	<result column="deleteyn" property="deleteYN" /> 	
 	<result column="imp_msg" property="impMsg" /> 	
 	<result column="send_date" property="sendDate" />
 	<result column="read_date" property="readDate" /> 	
 	<result column="msg_alert" property="msgAlert" /> 	 	 		
  </resultMap>
	
	<select id="recSelectListCount" resultType="_int">
	 select
	 	count(*)
	 	from message
	 	where msg_reader =#{userNo}
	 	and deleteyn ='N'
	</select>
	
	<select id="recSelectList" resultMap="messageResult">
	select
		message_no
		,w.kor_name as "msg_writer"
		,r.kor_name as "msg_reader"
		,msg_content
		,READYN
		,DELETEYN
		,imp_msg
		,to_char(send_date,'YYYY-MM-DD') as "send_date"
		,to_char(read_date,'YYYY-MM-DD') as "read_date"
		,msg_alert
	from message
	join users w on (msg_writer = w.user_no)
	join users r on (msg_reader = r.user_no)
	where msg_reader =#{userNo}
	and deleteyn ='N'
	</select>
	
	
	<select id="sendSelectListCount" resultType="_int">
	 select
	 	count(*)
	 	from message
	 	where msg_writer =#{userNo}
	 	and deleteyn ='N'
	</select>
	
	<select id="sendSelectList" resultMap="messageResult">
	select
		message_no
		,w.kor_name as "msg_writer"
		,r.kor_name as "msg_reader"
		,msg_content
		,READYN
		,DELETEYN
		,imp_msg
		,to_char(send_date,'YYYY-MM-DD') as "send_date"
		,to_char(read_date,'YYYY-MM-DD') as "read_date"
		,msg_alert
	from message
	join users w on (msg_writer = w.user_no)
	join users r on (msg_reader = r.user_no)
	where msg_writer =#{userNo}
	and deleteyn ='N'
	</select>
	
	
</mapper>
