<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studentMapper">

	<resultMap id="StudentResult" type="Student">
		<result column="STUD_NO" property="studNo" />
		<result column="PROF_NO" property="profNo" />
		<result column="STUD_UNIV" property="studUniv" />
		<result column="STUD_DEPARTMENT" property="studDepartment" />
		<result column="STUD_MAJOR" property="studMajor" />
		<result column="STUD_MINOR" property="studMinor" />
		<result column="STUD_INTO" property="studInto" />
		<result column="STUD_GRAD" property="studGrad" />
		<result column="STUD_DIVISION" property="studDivision" />
		<result column="STUD_STATUS" property="studStatus" />
		<result column="TOTAL_SEMESTER" property="studSemester" />
		<result column="KOR_NAME" property="studKorName" />
		<result column="ENG_NAME" property="studEngName" />
		<result column="BIRTHDAY" property="studBirthday" />
		<result column="GENDER" property="studGender" />
		<result column="EMAIL" property="studEmail" />
		<result column="PHONE" property="studPhone" />
		<result column="ADDRESS" property="studAddress" />
		<result column="NATION" property="studNation" />
		<result column="WEBMAIL" property="studWebMail" />
		<result column="USER_DIV" property="studUserDiv" />
		<result column="PROFILE_IMG" property="studProfileImg" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM STUDENT
	</select>
	
	<select id="selectStudentList" resultMap="StudentResult">
		SELECT 
		       STUD_NO
		     , KOR_NAME
		     , STUD_UNIV
		     , STUD_DEPARTMENT
		     , STUD_MAJOR
		     , STUD_STATUS
		  FROM STUDENT
		  JOIN USERS ON(STUD_NO = USER_NO)
		  ORDER
		     BY STUD_NO DESC
	</select>
	
	<select id="selectDepartment" resultMap="StudentResult">
		SELECT DISTINCT 
		       STUD_DEPARTMENT
		  FROM STUDENT
		 WHERE STUD_UNIV = #{studUniv}
	</select>
	

</mapper>
