<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="usersMapper">

			<resultMap id="usersResult" type="Users">
				<result column="user_no" property="userNo" />
				<result column="password" property="userPwd" />
				<result column="kor_name" property="korName" />
				<result column="eng_name" property="engName" />
				<result column="birthday" property="birthday" />
				<result column="gender" property="gender" />
				<result column="email" property="email" />
				<result column="phone" property="phone" />
				<result column="address" property="address" />
				<result column="nation" property="nation" />
				<result column="webmail" property="webMail" />
				<result column="user_div" property="userDiv" />
				<result column="profile_img" property="profileImg" />
				
				<!-- STUDENT -->
				<result column="stud_no" property="studNo" />
				<result column="sprof_no" property="sprofNo" />
				<result column="stud_univ" property="studUniv" />
				<result column="stud_department" property="studDepartment" />
				<result column="stud_major" property="studMajor" />
				<result column="stud_minor" property="studMinor" />
				<result column="stud_into" property="studInto" />
				<result column="stud_grad" property="studGrad" />
				<result column="stud_division" property="studDivision" />
				<result column="stud_status" property="studStatus" />
				<result column="stud_semester" property="studSemester" />
				
				<!-- PROFESSOR -->
				<result column="prof_no" property="profNo" />
				<result column="prof_rank" property="profRank" />
				<result column="rank_change" property="rankChange" />
				<result column="prof_univ" property="profUniv" />
				<result column="prof_department" property="profDepartment" />
				<result column="prof_major" property="profMajor" />
				<result column="prof_into" property="profInto" />
				<result column="prof_resign" property="profResign" />
				<result column="prof_location" property="profLocation" />
				<result column="prof_tel" property="profTel" />
				<result column="prof_status" property="profStatus" />
				<result column="prof_app_day" property="profAppDay" />
				<result column="prof_app_time" property="profAppTime" />
			</resultMap>
			
			
<!-- 학생로그인 -->
<select id="stuloginUser" resultMap="usersResult">
		select
		       user_no
		     , password
		     , kor_name
		     , eng_name
		     , birthday
		     , gender
		     , email
		     , phone
		     , address
		     , nation
		     , WEBMAIL
		     , user_div
		     , profile_img
		     , stud_no
		     , prof_no as "sprof_no"
		     , stud_univ
		     , stud_department
		     , stud_major
		     , stud_minor
		     , stud_into
		     , stud_grad
		     , stud_division
		     , stud_status
		     , total_semester as "stud_semester"
			   from users u
			   join student s on (user_no = stud_no)
		   where
		   user_no = #{userNo}
</select>
<!-- 교수로그인 -->
<select id="profloginUser" resultMap="usersResult">
		select
		       user_no
		     , password
		     , kor_name
		     , eng_name
		     , birthday
		     , gender
		     , email
		     , phone
		     , address
		     , nation
		     , WEBMAIL
		     , user_div
		     , profile_img
		     , prof_no
		     , prof_rank
		     , rank_change
		     , prof_univ
		     , prof_department
		     , prof_major
		     , prof_resign
		     , prof_location
		     , prof_tel
		     , prof_status
		     , prof_app_day
		     , prof_app_time
			   from users u
			   join professor s on (u.user_no = s.prof_no)
		   where
		   user_no = #{userNo}
</select>
<!-- 관리자 로그인 -->
<select id="adminLoginUser" resultMap="usersResult">
		select
		       user_no
		     , password
		     , kor_name
		     , eng_name
		     , birthday
		     , gender
		     , email
		     , phone
		     , address
		     , nation
		     , WEBMAIL 
			   from users u
		   where
		   user_no = #{userNo}
		   and user_div = 3
</select>





<!-- 아이디찾기 -->
<select id="findId" resultMap="usersResult">
		 select
		        user_no
		       ,kor_name
		       ,phone
		       ,birthday
		  from users
		  where
		   kor_name = #{korName}
		   and phone= #{phone}
		   and birthday = #{birthday}
</select>

<!-- 비밀번호 찾기 -->
<select id="findpwd" resultMap="usersResult">
		 select
		        user_no
		       ,email
		  from users
		  where
		   user_no = #{userNo}
		  
</select>

<update id="resetPwd">
		update 
			users 
			set 
		password = #{userPwd} 
		where user_no = #{userNo}
</update>

<select id="idCheck" resultMap="usersResult">
		 select
		      user_no
		  from users
		  where
		   user_no = #{userNo}
</select>


</mapper>
