<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

		<settings>
			<setting name="jdbcTypeForNull" value="NULL" />
		</settings>
		
		<typeAliases>
			<typeAlias type="com.us.uni.users.model.vo.Users" alias="Users" />
			<typeAlias type="com.us.uni.board.model.vo.Board" alias="Board" />
			<typeAlias type="com.us.uni.mail.model.vo.MailFrom" alias="MailFrom" />

			<typeAlias type="com.us.uni.lecture.model.vo.Classboard" alias="Classboard" />
			<typeAlias type="com.us.uni.lecture.model.vo.HomeworkP" alias="HomeworkP" />

		</typeAliases>
		
		<mappers>
			<mapper resource="/mappers/users-mapper.xml" />
			<mapper resource="/mappers/board-mapper.xml" />
			<mapper resource="/mappers/mail-mapper.xml" />			
			<mapper resource="/mappers/lecture-mapper.xml" />
		</mappers>
		
</configuration>
