<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

		<settings>
			<setting name="jdbcTypeForNull" value="NULL" />
		</settings>
		
		<typeAliases>
			<typeAlias type="com.us.uni.users.model.vo.Users" alias="Users" />
			<typeAlias type="com.us.uni.board.model.vo.Board" alias="Board" />

			<!-- 
			<typeAlias type="com.us.uni.student.model.vo.Student" alias="Student" />
			 <typeAlias type="com.us/uni/Professor.model.vo.Professor" alias="Professor" />
			 -->
			<typeAlias type="com.us.uni.facility.model.vo.Facility" alias="Facility" />

			<typeAlias type="com.us.uni.mail.model.vo.MailFrom" alias="MailFrom" />
			<typeAlias type="com.us.uni.common.model.vo.Attachment" alias="Attachment" />

			<typeAlias type="com.us.uni.lecture.model.vo.Classboard" alias="Classboard" />
			<typeAlias type="com.us.uni.lecture.model.vo.HomeworkP" alias="HomeworkP" />
			<typeAlias type="com.us.uni.lecture.model.vo.Lecture" alias="Lecture" />
		</typeAliases>
		
		<mappers>
			<mapper resource="/mappers/users-mapper.xml" />
			<mapper resource="/mappers/board-mapper.xml" />
			<mapper resource="/mappers/student-mapper.xml" />
			<mapper resource="/mappers/facility-mapper.xml" />
			<!-- 
			<mapper resource="/mappers/professor-mapper.xml" />			
			 -->

			<mapper resource="/mappers/mail-mapper.xml" />			
			<mapper resource="/mappers/lecture-mapper.xml" />
		</mappers>
		
</configuration>
